{% extends "realestate/baseaccount1.html" %}

{% block title %}Edycja danych firmowych{% endblock %}

{% block content %}

  <h1>Edycja zdjęć</h1>
  <h1>Numer transakcji {{ nieruchomosc.id }} {{ nieruchomosc.nazwa }} {{ nieruchomosc.ulica }} {{ nieruchomosc.numer }} {{ nieruchomosc.miejscowosc }}</h1>
  
  <p>Za pomocą poniższego formularza możesz dodać zdjęcia</p>
  <form action="." method="post" enctype="multipart/form-data">
    {{ images_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Zapisz zmiany"></p>
  </form>
 
  {% for imageitem in imageitems %}
		<div>
			 <img src="{{ imageitem.image.url }}">
		</div>
	{% endfor %}


{% endblock %}
