{% extends "bithouse/bitbase.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.title }}{% else %}Ogłoszenia detale{% endif %}
{% endblock %}


{% block content %}

<div id="header">
    
     <span class="logo"><a href="{% url "bithouse:startbit" %}"><div id="logobh">BITHOUSE</div></a></span>
	 
    <ul class="menu">
		
		<li>
        <a href="{% url "bithouse:home" %}">HOME</a>
		</li>
		<li class="selected">
        <a href="{% url "bithouse:ogloszenia" %}">OGŁOSZENIA</a>
		</li>
		
		<li>
        <a href="{% url "realestate:startre" %}">STREFA KLIENTA</a>
		</li>
		<li {% if section == "images" %}class="selected"{% endif %}>
        <a href="#">PRASA</a>
		</li>
    </ul>
  </div>

<script src="/static/js/detailkom.js">
</script>

<div id="topik">
	<a href="{% url "bithouse:komercyjne" %}"><div id=po1>k o m e r c y j n e </div></a>
	<a href="{% url "bithouse:komercyjne" %}"><div id=po3>s p r z e d a ż</div></a>
	<div id=po2> {{ nieruchomosc.profil }}&nbsp&nbsp&nbsp&nbsp {{ nieruchomosc.cena }} zł&nbsp&nbsp&nbsp&nbsp {{ nieruchomosc.miejscowosc }}&nbsp&nbsp&nbsp&nbsp  nr ogłoszenia: {{ nieruchomosc.id }}</div>
</div>

<a href="{% url "bithouse:komercyjne" %}"><div id="powrot">
	p o w r ó t
</div></a>
 
 
<div id=prezentacja>
	<div id=prezentl>
		<div id=sldiv><img id="sl" src="/static/img/stl1.png"></div>
		
			<img id="photo" src="{{ nieruchomosc.image.url }}">
			
		<div id=spdiv><img id="sp" src="/static/img/stp1.png"></div>
	</div>
	
	<div id=prezentr>
		
		<p>Sprzedaż</p>

	</div>
	
	<div id=slider>
	{% for imageitem in imageitems %}
			<img class=prez src="{{ imageitem.image.url }}">
			{% endfor %}
	</div>
</div>
	
<div id=sidebar>
</div>
     
<div id=main>
	
	 
		
	<div id=szczegdet>      
		<div id=dom-pre1>
			<div id=dzia-miejscowosc>{{ nieruchomosc.miejscowosc }}</div>
			<div id=dzia-nazwa> {{ nieruchomosc.nazwa_opis }}</div>
			<div id=dzia-cena><p class=pre2>cena zł </p>{{ nieruchomosc.cena }} 
				<p class=pre2>cena/m2 {{ nieruchomosc.cenamq }} zł </p>
			</div>
			<div id=dzia-profil>komercyjne</div>
			<div id=dzia-adres>	{{ nieruchomosc.ulica }} {{ nieruchomosc.numer }} {{ nieruchomosc.kod_pocztowy }}</div>
			
		</div>
		<div id=komercja>
			<table>
				<tr><td>powierzchnia nieruchomości</td><td id=p1>{{ nieruchomosc.komercyjnes.powierz_nieruchomosci }}</td></tr>
				<tr><td>powierzchnia działki</td><td id=p1>{{ nieruchomosc.komercyjnes.powierz_dzialki }}</td></tr>
				<tr><td>status działki</td><td id=p1>{{ nieruchomosc.komercyjnes.status_dzial }}</td></tr>
				<tr><td>rodzaj nieruchomości</td><td id=p1>{{ nieruchomosc.komercyjnes.rodzaj_nieruchom }}</td></tr>
				<tr><td>część czy całość</td><td id=p1>{{ nieruchomosc.komercyjnes.pozycja_nieruchom }}</td></tr>
				<tr><td>rodzaj materiału</td><td id=p1>{{ nieruchomosc.komercyjnes.rodz_materialu }}</td></tr>
				<tr><td>rodzaj dachu</td><td id=p1>{{ nieruchomosc.komercyjnes.dach }}</td></tr>
				<tr><td>pokrycie dachu</td><td id=p1>{{ nieruchomosc.komercyjnes.pokrycie_dach }}</td></tr>
				<tr><td>stan wykończenia </td><td id=p1>{{ nieruchomosc.komercyjnes.stan_wykonczenia }}</td></tr>
				<tr><td>rodzaj okien</td><td id=p1>{{ nieruchomosc.komercyjnes.okna }}</td></tr>
				<tr><td>rodzaj posadzki</td><td id=p1>{{ nieruchomosc.komercyjnes.posadzka }}</td></tr>
				<tr><td>rok budowy</td><td id=p1>{{ nieruchomosc.komercyjnes.rok_budowy }}</td></tr>
			</table>
			
			<table id=dom-table>
				<tr id=tr-dom><td>ilość kondygnacji</td><td id=p1>{{ nieruchomosc.komercyjnes.ilosc_kond }}</td></tr>
				<tr id=tr-dom><td>ilość pokoi</td><td id=p1>{{ nieruchomosc.komercyjnes.ilosc_pokoi }}</td></tr>
				<tr id=tr-dom><td>parking</td><td id=p1>{{ nieruchomosc.komercyjnes.parking }}</td></tr>
				<tr id=tr-dom><td>ogrzewanie</td><td id=p1>{{ nieruchomosc.komercyjnes.ogrzewanie }}</td></tr>
				<tr id=tr-dom><td>ogrodzenie</td><td id=p1>{{ nieruchomosc.komercyjnes.ogrodzenie }}</td></tr>
				<tr id=tr-dom><td>dojazd</td><td id=p1>{{ nieruchomosc.komercyjnes.dojazd }}</td></tr>
				
			</table>
			
			<div id=kom-mpzp>Informacje o mpzp
				
			</div>
		</div>
		<div id=kom-element-dodat>	
			<div id=mie-media>Media
				<ul>
					<li id=dommedia0>{{ nieruchomosc.komercyjnes.prad }}</li>
					<li id=dommedia1>{{ nieruchomosc.komercyjnes.gaz }}</li>
					<li id=dommedia2>{{ nieruchomosc.komercyjnes.woda }}</li>
					<li id=dommedia3>{{ nieruchomosc.komercyjnes.kanalizacja }}</li>
					<li id=dommedia4>{{ nieruchomosc.komercyjnes.szambo }}</li>
					<li id=dommedia5>{{ nieruchomosc.komercyjnes.oczyszczalnia }}</li>
					<li id=dommedia6>{{ nieruchomosc.komercyjnes.telefon }}</li>
					<li id=dommedia7>{{ nieruchomosc.komercyjnes.internet }}</li>
					<li id=dommedia8>{{ nieruchomosc.komercyjnes.tel_kablowa }}</li>
				</ul>
			</div>
			
						
			<div id=mie-zabezp>Zabezpieczenia
				<ul>
					<li id=domzabezp0>{{ nieruchomosc.komercyjnes.teren_zamkniety }}</li>
					<li id=domzabezp1>{{ nieruchomosc.komercyjnes.monitoring }}</li>
					<li id=domzabezp2>{{ nieruchomosc.komercyjnes.alarm }}</li>
					<li id=domzabezp3>{{ nieruchomosc.komercyjnes.drzwi_anty }}</li>
					<li id=domzabezp4>{{ nieruchomosc.komercyjnes.rolety }}</li>
					<li id=domzabezp5>{{ nieruchomosc.komercyjnes.domofon }}</li>
				</ul>
			</div>
			
			<div id=kom-otocz>Otoczenie
				<ul>
					<li id=domotocz0>{{ nieruchomosc.komercyjnes.las }}</li>
					<li id=domotocz1>{{ nieruchomosc.komercyjnes.gory }}</li>
					<li id=domotocz2>{{ nieruchomosc.komercyjnes.jezioro }}</li>
					<li id=domotocz3>{{ nieruchomosc.komercyjnes.morze }}</li>
					<li id=domotocz4>{{ nieruchomosc.komercyjnes.teren_otwarty }}</li>
					<li id=domotocz5>{{ nieruchomosc.komercyjnes.teren_przemyslowy }}</li>
					<li id=domotocz6>{{ nieruchomosc.komercyjnes.teren_zdrojowy }}</li>
					<li id=domotocz7>{{ nieruchomosc.komercyjnes.teren_turystyczny }}</li>
				</ul>
			</div>
								
		</div>
	</div>
	<div id=szczegdet1>	
		<p class=pre1>Autorski opis nieruchomości</p>
		<div id=dom-info>
			{{ nieruchomosc.opis_nieruchomosci }}
		</div>
					
	</div>
</div>		
  
{% endblock %}
