{% extends "bithouse/bitbase.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.title }}{% else %}Ogłoszenia detale{% endif %}
{% endblock %}


{% block content %}

<div id="header">
    
     <span class="logo"><a href="{% url "bithouse:startbit" %}"><div id="logobh">BITHOUSE</div></a></span>
	 
    <ul class="menu">
		
		<li>
        <a href="{% url "bithouse:home" %}">HOME</a>
		</li>
		<li class="selected">
        <a href="{% url "bithouse:ogloszenia" %}">OGŁOSZENIA</a>
		</li>
		
		<li>
        <a href="{% url "realestate:startre" %}">STREFA KLIENTA</a>
		</li>
		<li {% if section == "images" %}class="selected"{% endif %}>
        <a href="#">PRASA</a>
		</li>
    </ul>
</div>

<script src="/static/js/detailmie.js">
</script>

<div id="topik">
	<a href="{% url "bithouse:mieszkania" %}"><div id=po1>m i e s z k a n i a </div></a>
	<a href="{% url "bithouse:mieszkania" %}"><div id=po3>s p r z e d a ż</div></a>
	<div id=po2> {{ nieruchomosc.profil }}&nbsp&nbsp&nbsp&nbsp {{ nieruchomosc.cena }} zł&nbsp&nbsp&nbsp&nbsp {{ nieruchomosc.miejscowosc }}&nbsp&nbsp&nbsp&nbsp  nr ogłoszenia: {{ nieruchomosc.id }}</div>
</div>

<a href="{% url "bithouse:mieszkania" %}"><div id="powrot">
	p o w r ó t
</div></a>
 
 
<div id=prezentacja>
	<div id=prezentl>
		<div id=sldiv><img id="sl" src="/static/img/stl1.png"></div>
		
			<img id="photo" src="{{ nieruchomosc.image.url }}">
			
		<div id=spdiv><img id="sp" src="/static/img/stp1.png"></div>
	</div>
	
	<div id=prezentr>
		
		<p>Sprzedaż</p>

	</div>
	
	<div id=slider>
	{% for imageitem in imageitems %}
			<img class=prez src="{{ imageitem.image.url }}">
			{% endfor %}
	</div>
</div>
	
<div id=sidebar>
</div>
     
<div id=main>
	
	 
		
	<div id=szczegdet>      
		<div id=dom-pre1>
			<div id=dzia-miejscowosc>{{ nieruchomosc.miejscowosc }}</div>
			<div id=dzia-nazwa> {{ nieruchomosc.nazwa_opis }}</div>
			<div id=dzia-cena><p class=pre2>cena zł </p>{{ nieruchomosc.cena }} 
				<p class=pre2>cena/m2 {{ nieruchomosc.cenamq }} zł </p>
			</div>
			<div id=dzia-profil>mieszkanie</div>
			<div id=dzia-adres>	{{ nieruchomosc.ulica }} {{ nieruchomosc.numer }} {{ nieruchomosc.kod_pocztowy }}</div>
			
		</div>
		<div id=domy>
			<table>
				<tr><td>powierzchnia mieszkania</td><td id=p1>{{ nieruchomosc.mieszkanias.powierz_mieszkania }}</td></tr>
				<tr><td>rodzaj budynku</td><td id=p1>{{ nieruchomosc.mieszkanias.rodzaj_zabud }}</td></tr>
				<tr><td>rodzaj mieszkania</td><td id=p1>{{ nieruchomosc.mieszkanias.rodzaj_mieszkania }}</td></tr>
				<tr><td>piętro</td><td id=p1>{{ nieruchomosc.mieszkanias.pietro }}</td></tr>
				<tr><td>rok budowy</td><td id=p1>{{ nieruchomosc.mieszkanias.rok_budowy }}</td></tr>
				<tr><td>rodzaj materiału</td><td id=p1>{{ nieruchomosc.mieszkanias.rodz_materialu }}</td></tr>
				<tr><td>ilość kondygnacji</td><td id=p1>{{ nieruchomosc.mieszkanias.ilosc_kond }}</td></tr>
				<tr><td>pokrycie dachu</td><td id=p1>{{ nieruchomosc.mieszkanias.pokrycie_dach }}</td></tr>
				<tr><td>stan wykończenia </td><td id=p1>{{ nieruchomosc.mieszkanias.stan_wykonczenia }}</td></tr>
				<tr><td>rodzaj okien</td><td id=p1>{{ nieruchomosc.mieszkanias.okna }}</td></tr>
			</table>
			
			<table id=dom-table>
				<tr id=tr-dom><td>ilość pokoi</td><td id=p1>{{ nieruchomosc.mieszkanias.ilosc_pokoi }}</td></tr>
				<tr id=tr-dom><td>ilość łazienek</td><td id=p1>{{ nieruchomosc.mieszkanias.ilosc_lazen }}</td></tr>
				<tr id=tr-dom><td>ilość kuchni</td><td id=p1>{{ nieruchomosc.mieszkanias.ilosc_kuchni }}</td></tr>
				<tr id=tr-dom><td>rodzaj dojazdu</td><td id=p1>{{ nieruchomosc.mieszkanias.dojazd }}</td></tr>
				
			</table>
			
			<div id=mie-dodatki>Elementy dodatkowe
				<ul>
					<li id=miedodatki0>{{ nieruchomosc.mieszkanias.piwnica }}</li>
					<li id=miedodatki1>{{ nieruchomosc.mieszkanias.garaz }}</li>
					<li id=miedodatki2>{{ nieruchomosc.mieszkanias.parking }}</li>
					<li id=miedodatki3>{{ nieruchomosc.mieszkanias.winda }}</li>
					<li id=miedodatki4>{{ nieruchomosc.mieszkanias.klimatyzacja }}</li>
					<li id=miedodatki5>{{ nieruchomosc.mieszkanias.balkon }}</li>
					<li id=miedodatki6>{{ nieruchomosc.mieszkanias.taras }}</li>
					<li id=miedodatki7>{{ nieruchomosc.mieszkanias.ogrodek }}</li>
				</ul>
			</div>
		</div>
		<div id=dom-element-dodat>	
			<div id=mie-media>Media
				<ul>
					<li id=dommedia0>{{ nieruchomosc.mieszkanias.prad }}</li>
					<li id=dommedia1>{{ nieruchomosc.mieszkanias.gaz }}</li>
					<li id=dommedia2>{{ nieruchomosc.mieszkanias.woda }}</li>
					<li id=dommedia3>{{ nieruchomosc.mieszkanias.kanalizacja }}</li>
					<li id=dommedia4>{{ nieruchomosc.mieszkanias.szambo }}</li>
					<li id=dommedia5>{{ nieruchomosc.mieszkanias.oczyszczalnia }}</li>
					<li id=dommedia6>{{ nieruchomosc.mieszkanias.telefon }}</li>
					<li id=dommedia7>{{ nieruchomosc.mieszkanias.internet }}</li>
					<li id=dommedia8>{{ nieruchomosc.mieszkanias.tel_kablowa }}</li>
				</ul>
			</div>
			
			<div id=mie-ogrzew>Ogrzewanie
				<ul>
					<li id=domogrzew0>{{ nieruchomosc.mieszkanias.miejskie }}</li>
					<li id=domogrzew1>{{ nieruchomosc.mieszkanias.gazowe }}</li>
					<li id=domogrzew2>{{ nieruchomosc.mieszkanias.olejowe }}</li>
					<li id=domogrzew3>{{ nieruchomosc.mieszkanias.elektryczne }}</li>
					<li id=domogrzew4>{{ nieruchomosc.mieszkanias.weglowe }}</li>
					<li id=domogrzew5>{{ nieruchomosc.mieszkanias.piece_kaflowe }}</li>
					<li id=domogrzew6>{{ nieruchomosc.mieszkanias.kominkowe }}</li>
					<li id=domogrzew7>{{ nieruchomosc.mieszkanias.kolektor_sloneczny }}</li>
					<li id=domogrzew8>{{ nieruchomosc.mieszkanias.pompa_ciepla }}</li>
					<li id=domogrzew9>{{ nieruchomosc.mieszkanias.pompa_ciepla }}</li>
				</ul>
			</div>
			
			<div id=mie-zabezp>Zabezpieczenia
				<ul>
					<li id=domzabezp0>{{ nieruchomosc.mieszkanias.teren_zamkniety }}</li>
					<li id=domzabezp1>{{ nieruchomosc.mieszkanias.monitoring }}</li>
					<li id=domzabezp2>{{ nieruchomosc.mieszkanias.alarm }}</li>
					<li id=domzabezp3>{{ nieruchomosc.mieszkanias.drzwi_anty }}</li>
					<li id=domzabezp4>{{ nieruchomosc.mieszkanias.rolety }}</li>
					<li id=domzabezp5>{{ nieruchomosc.mieszkanias.domofon }}</li>
				</ul>
			</div>
			
			<div id=mie-wypos>Wyposażenie
				<ul>
					<li id=domwypos0>{{ nieruchomosc.mieszkanias.meble }}</li>
					<li id=domwypos1>{{ nieruchomosc.mieszkanias.meble_czesc }}</li>
					<li id=domwypos2>{{ nieruchomosc.mieszkanias.kuchenka }}</li>
					<li id=domwypos3>{{ nieruchomosc.mieszkanias.pralka }}</li>
					<li id=domwypos4>{{ nieruchomosc.mieszkanias.lodowka }}</li>
					<li id=domwypos5>{{ nieruchomosc.mieszkanias.zmywarka }}</li>
					<li id=domwypos6>{{ nieruchomosc.mieszkanias.piekarnik }}</li>
					<li id=domwypos7>{{ nieruchomosc.mieszkanias.mikrofala }}</li>
					<li id=domwypos8>{{ nieruchomosc.mieszkanias.telewizor }}</li>
				</ul>
			</div>
			
		</div>
	</div>
	<div id=szczegdet1>	
		<p class=pre1>Autorski opis nieruchomości</p>
		<div id=dom-info>
			{{ nieruchomosc.opis_nieruchomosci }}
		</div>
					
	</div>
</div>		
  
{% endblock %}
