{% extends "bithouse/bitbase.html" %}
{% load static %}

{% block title %}
  Ogłoszenia działki
{% endblock %}

{% block content %}
  
  <div id="header">
    
     <span class="logo"><a href="{% url "bithouse:startbit" %}"><div id="logobh">BITHOUSE</div></a></span>
	 
    <ul class="menu">
		
		<li>
        <a href="{% url "bithouse:home" %}">HOME</a>
		</li>
		<li class="selected">
        <a href="{% url "bithouse:ogloszenia" %}">OGŁOSZENIA</a>
		</li>
		
		<li>
        <a href="{% url "realestate:startre" %}">STREFA KLIENTA</a>
		</li>
		<li {% if section == "images" %}class="selected"{% endif %}>
        <a href="#">PRASA</a>
		</li>
    </ul>
  </div>
  
  <div id="glowa">
	<div id=filtry>
			&nbsp&nbspFILTRY
			<form action="." method="post">
			<br>
				<div id=f2><p><input type="submit" value="Filtruj"></p></div><a href="{% url "bithouse:pokoje" %}"><div id=f1>CF</div></a><br><br><br><br>
				<div id=f3>
				<ul>
				<li>{{ filtrmiejsc_form.miejscowosc.label }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				{{ filtrmiejsc_form.miejscowosc }}</li>
				
				<li>{{ filtroferent_form.oferent.label }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
				{{ filtroferent_form.oferent }}</li>
				</ul>
				</div>
				<div id=f4>
				<table>
				<tr>
				<td>{{ filtrpowmie_form.powierz_mieszkania.label }}</td>
				<td>{{ filtrpowmie_form.powierz_mieszkania }}</td>
				</tr>
				<tr>
				<td>{{ filtrinn_form.ilosc_pokoi.label }}</td>
				<td>{{ filtrinn_form.ilosc_pokoi }}</td>
				</tr>
				</table>
				<table>
				<tr>
				<td>{{ filtrcenamiewy_form.cena.label }}</td>
				<td>{{ filtrcenamiewy_form.cena }}</td>
				</tr>
				<tr>
				<td>{{ filtrmeble_form.meble.label }}</td>
				<td>{{ filtrmeble_form.meble }}</td>
				</tr>
				</table>
				</div>
				{% csrf_token %}
    
		</form>
		
	</div>
   	<div id=glowa1>działki
	<a href="{% url "bithouse:dzialki" %}"><p>sprzedaż</p></a><a href="{% url "bithouse:dzialki_wy" %}"><p>wynajem</p></a></div>
	<div id=glowa2>domy
	<a href="{% url "bithouse:domy" %}"><p>sprzedaż</p></a><a href="{% url "bithouse:domy_wy" %}"><p>wynajem</p></a></div>
	<div id=glowa3>mieszkania
	<a href="{% url "bithouse:mieszkania" %}"><p>sprzedaż</p></a><a href="{% url "bithouse:mieszkania_wy" %}"><p>wynajem</p></a></div>
	<div id=glowa4>komercyjne
	<a href="{% url "bithouse:komercyjne" %}"><p>sprzedaż</p></a><a href="{% url "bithouse:komercyjne_wy" %}"><p>wynajem</p></a></div>
	<div id=glowa5>pozostałe
	<a href="{% url "bithouse:deweloper" %}"><p>deweloper</p></a><a href="{% url "bithouse:pokoje" %}"><p>pokoje</p></a><a href="{% url "bithouse:garage" %}"><p>garaże</p></a></div>
  </div>
  
  <div id="sidebar">
    <h3>Okno na świat</h3>
    </div>
	
  <div id="main" >
  
    
			{% for n in nieruchomoscs %}
    <div id=itemmie>
		<div id=firstl>
			 <a href="bit{{ n.get_absolute_url }}"><img class=ogl src="{{ n.image.url }}"> </a>        
        </div> 
		<div id=menio>
			<div id=cobox><h4>Pokoje na wynajem</h4></div>
			<div id=cenabox> {{ n.cena }} zł</div>
		
			<h1><a href="bit{{ n.get_absolute_url }}">{{ n.nazwa_opis }}</a></h1>
		
			<div id=secondl>    
				
				<h2> {{ n.miejscowosc }}, ulica {{ n.ulica }} {{ n.numer }}</h2>
				<h3>{{ n.pokojes.ilosc_pokoi }} pokoi, {{ n.pokojes.powierz_mieszkania }} m2
				
				
            </div>
			<div id=thirtl>
			
				<h3>Cena za 1m2 {{ n.cenamq }} zł </h3>
				<h3>Numer oferty: {{ n.id }}</h3>
				<p>Oferujący: {{ n.oferent }}</p>
            </div> 
		</div> 
	</div>
			{% endfor %}  
 
</div>
	
	
{% endblock %}
